body {
    color: #000;
}

.navigation-bar {
    background-color: #774936;
}

.navigation-bar a {
    color: #fff;
}


/* hero image */
.hero-image img {
    height: 50%;
}
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/hero-img.jpg");

    /* Set a specific height */

    height: 50vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}

  /* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.blog-card {
    border: 1px solid #EDC4B3;
}

.post-card {
    border: 2px solid #EDC4B3;
}

.blog-card-header {
    background-color: #D69F7E;
    color: #fff;
}


.blog-title {
    color: #D69F7E;
    text-decoration: none;
}

.blog-btn {
    background-color: #D69F7E;
    color: #fff;
}


.form-container {
  border: 2px solid #EDC4B3;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 60vw;
  margin: 0 auto;
}

.form-btn {
    background-color: #D69F7E;
    color: #fff;
}

a.form-link {
    color: #D69F7E;
}

.signup-footer {
  width: 60vw;
  margin: 0 auto;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 2px solid #EDC4B3;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 60vw;
    margin: 0 auto;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
    color: #D69F7E
}

a.author-link {
    color: white;
    text-decoration: none;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.blog-btn-action {
    width: 15vw;
    margin: 0 auto;
}

.blog-img {
    height: 80vh;
}

a.comments-btn {
    margin-bottom: 1.5rem;
}

footer {
    background-color: #774936;
    color: #fff;
    /* height: 5vh; */
}