{% extends "layout.html"%}
{% block content%}
    <div class="hero-image container-fluid">
        <div class="hero-text">
        <h1>"{{rand_quote.quote}}"</h1>
        <p>by {{rand_quote.author}}</p>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
            {% for blog in blogs%}
            <div class="col">
                <div class="card blog-card">
                    <div class="card-header blog-card-header">
                        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile-pic/' + blog.author.image_file) }}">

                        <a href="#" class="author-link">{{blog.author.username}}</a><br>
                        <small class="text-muted">Date posted: {{blog.date_posted.strftime('%Y-%m-%d')}}</small><br>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title "><a href="{{url_for('post',post_id=blog.id)}}" class="blog-title">{{blog.title}}</a></h5>
                      <p class="card-text">{{blog.content | truncate(50)}}</p>
                      <a href="{{url_for('post',post_id=blog.id)}}" class="btn blog-btn">Read blog</a>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>

{%endblock%}