{% extends "layout.html"%}
{% block content%}
<div class="container">
    <div class="row mt-4">
        <div class="card mb-3 post-card">
            <img src="{{img_file}}" class="card-img-top blog-img" alt="blog post image">
            <div class="card-body">
                {% if post.author == current_user%}
                    <div class="blog-btn-action">
                        <a href="{{url_for('update_post',post_id=post.id)}}" class="btn blog-btn btn-sm text-center">Update</a>
                        <a href="{{url_for('delete_post',post_id=post.id)}}" class="btn btn-danger btn-sm mx-2 text-center">Delete</a>
                    </div>
                {% endif %}
              <h5 class="card-title blog-title text-center mt-3">{{post.title}}</h5>
              <p class="card-text">{{post.content}}</p>
            </div>
          </div>
    </div>
</div>
{% endblock %}